extends base
block title HTTP 404

block content
    .error
        h1 Oops! That page can’t be found.

    .content
        p The page (or file) you visited, had gone. May be deleted or just a error url?

        .links
            a(href="/") To Home Page