<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Nerrsoft,Leon Zhuang,Blog,Life,Tech,Read,Book,Music,Rock,Forex,Trade,Running" />
    <meta name="baidu-site-verification" content="gWTbDCK9DwceAy75" />
    <link rel='alternate' type='application/rss+xml' title='atom 1.0' href='/feed' />
    <title>{% block title %}{% endblock %} | {{ site.configs.site_name }}</title>

    <!-- style -->
    <link rel="stylesheet" href="/t/css/bootstrap.min.css">
    <link rel="stylesheet" href="/t/css/font-awesome/css/font-awesome.min.css">
    <!--[if IE 7]>
        <link rel="stylesheet" href="/t/css/font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link rel='stylesheet' id='theme-font-css'  href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&#038;subset=latin,latin-ext' type='text/css' media='all' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/t/css/bootstrap-responsive.css">

    <link href="/t/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/t/google-code-prettify/prettify.js"></script>

    <link rel="shortcut icon" href="/t/img/favicon.ico">

    <link href="/t/css/style.css" rel="stylesheet" media="screen">

    <!--[if lt IE 9]><script src="/t/js/html5.js"></script><![endif]-->
    <!--[if (gte IE 6)&(lte IE 8)]><script src="/t/js/selectivizr-min.js"></script><![endif]-->
</head>

<body onload="prettyPrint()">
    <!-- #header -->
    <header id="header">
        <div class="container-narrow" id="logomenu">
            <div class="row-fluid">
                <div class="span3" id="logo">
                    <a title="" href="/"><img src="/t/img/logo.png" class="img-rounded"  alt="Nerrsoft.com" /></a>
                </div>

                <div class="span9">
                    <ul class="nav nav-pills pull-right">
                        <li><a data-toggle="modal" href="/" >Home</a></li>
                        <li><a data-toggle="modal" href="/blog" >Blog</a></li>
                        <li><a data-toggle="modal" href="/archive" >Archive</a></li>
                        <li><a data-toggle="modal" href="/folder/" >Photos</a></li>
                        <li><a data-toggle="modal" href="/links.md" >Links</a></li>
                        <li><a data-toggle="modal" href="/about.md" >About</a></li>
                        <!-- <li><a data-toggle="modal" href="/projects.md" >Projects</a></li> -->
                    </ul>
                </div>
            </div>
        </div>

        <!-- #page-header -->
        <div id="page-header" class="clearfix">
            <div class="container-narrow">
                <h1>Blog</h1>
                <p>Bits and Pieces of My Life</p>
            </div>
        </div>
        <!-- /#page-header -->

        <!-- #breadcrumbs -->
        <div id="page-subnav" class="clearfix">
            <div class="container-narrow">
                <div id="breadcrumbs">
                    <a href="/">Home</a><span class="sep">/</span><a href="/blog">Blog</a><span class="sep">/</span>
                </div>
            </div>
        </div>
        <!-- /#breadcrumbs -->

    </header>
    <!-- /#header -->

    <!-- container -->
    <div class="container-narrow">

        <div class="row-fluid">
            <div class="span8">
                {% block content %}
                {% endblock %}
            </div>

            <div class="span4">
                <div class="tags"><h4><i class="icon-tags"></i>&nbsp;Tags</h4>
                    {% for tag_name, tag_count in site.tags %}

                    <a class="tag" href="/tags/{{ tag_name }}" title="{{ tag_count }}">{{ tag_name }}</a>

                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <!-- /container -->

    {% include 'include/footer.html' %}

    <script type="text/javascript">
    $(document).ready(function(){
        $('#c_author').show();

        prettyPrint();
    });
    </script>
    <!-- /javascript -->

</body>
</html>