<!-- #footer-bottom -->
    <footer id="footer" class="clearfix">

        <!-- #footer-widgets -->
        <div id="footer-widgets" class="clearfix">
            <div class="container-narrow">
                <div class="row-fluid">
                    <div class="span4">
                        <h4 class="widget-title"><span>Contact Me</span></h4>
                        <div class="textwidget">
                            <p>Feel free to contact me if you want, I will answer each and every email.</p>
                            <p><a href="mailto:leon@nerrsoft.com"><i class="icon-envelope-alt icon-large"></i></a></p>
                        </div>
                    </div>

                    <div class="span4">
                        <h4 class="widget-title"><span>I Am A Runner</span></h4>
                        <div class="textwidget">
                            <p id="nikeplus">
                            </p>
                            <a href="http://my.nikeplus.com/Nerrsoft" target="_blank"><img src="/t/img/nikeplus.png" width="24" />
                        </div>
                    </div>

                    <div class="span4">
                        <h4 class="widget-title"><span>Follow Me</span></h4>
                        <div class="textwidget">
                            <p>
                                <a href="https://github.com/nerr" target="_blank"><i class="icon-github icon-3x"></i></a>
                                <a href="https://twitter.com/nerrsoft" target="_blank"><i class="icon-twitter-sign icon-3x"></i></a>
                                <a href="https://foursquare.com/nerrsoft" target="_blank"><i class="icon-foursquare icon-3x"></i></a>
                                <a href="https://www.facebook.com/nerrsoft" target="_blank"><i class="icon-facebook-sign icon-3x"></i></a>
                            </p>
                            <p>
                                <a href="http://weibo.com/nerr" target="_blank"><i class="icon-weibo icon-3x"></i></a>
                                <a href="" target="_blank"><i class="icon-linkedin-sign icon-3x"></i></a>
                                <a href="http://www.flickr.com/photos/nerr" target="_blank"><i class="icon-flickr icon-3x"></i></a>
                                <a href="https://plus.google.com/u/0/105802722064102150057" target="_blank"><i class="icon-google-plus-sign icon-3x"></i></a>
                            </p>

                            <!-- 
                            <p><i class="icon-tags"></i><a href="https://www.douban.com/people/nerrsoft/" target="_blank">Douban</a></p>
                            <p><i class="icon-tags"></i><a href="http://nerrsoft.com/feed" target="_blank">Feed</a></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#footer-widgets -->

        <!-- #copyright -->
        <div id="footer-copyright" class="clearfix">
            <div class="container-narrow">
                <small id="copyright" role="contentinfo">
                    Copyright &copy; {{ site.configs.site_copyright_year }}  <b>{{ site.configs.site_name_domain }}</b> All rights reserved. | 
                    Powered by <a href="http://farbox.com/" target="_blank">FarBox.com</a> &amp; 
                    Built with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> | 
                    Clone <a href="http://nerrsoft.com/template" target="_blank">Template</a>
                </small>
            </div>
        </div>
        <!-- /#copyright -->

    </footer> 
    <!-- /#footer-bottom -->

    <!-- javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/t/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    //-- load nike plus running data
    var url = "http://run.nerrsoft.com/index.php?callback=?";
    $(function(){
        var jq = jQuery.noConflict();
        jq.getJSON(url).done(function(data){
            jq.each(data.activitys, function(i, act){
                jq("#nikeplus").append(act.date + " Dist. <b>" + act.distance + "</b> AvgPace <b>" + act.pace + "</b><br />");
            });
        });
    });
    </script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28003762-1']);
        _gaq.push(['_setDomainName', 'nerrsoft.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>